extends layout 
 
block content 
  h1= title 
  if (toShow == null) 
    h2 No instance to delete 
  else 
  - let id = toShow._id 
  - let Brand = toShow.Brand 
  - let earphone_type = toShow.earphone_type 
  - let Cost = toShow.Cost 
  div(class="card card-body" style="width: 30rem;") 
    div(class="row p-3 mb-2 bg-secondary text-white") 
      div(class=' mr-3 col-sm-6') earphone ID: 
      div(class=' mr-3 col-sm-6') #{id} 
    div(class="row p-3 mb-2 bg-secondary text-white") 
      div(class=' mr-3 col-sm-6') Brand: 
      div(class=' mr-3 col-sm-6') #{Brand} 
    div(class="row p-3 mb-2 bg-secondary text-white") 
      div(class=' mr-3  col-sm-6') earphone_type  : 
      div(class=' mr-3 col-sm-6')  #{earphone_type} 
    div(class="row p-3 mb-2 bg-secondary text-white") 
      div(class=' mr-3 col-sm-6') Cost: 
      div(class=' mr-3 col-sm-6') $#{Cost}
    div(class="d-flex flex-row justify-content-center")      
            a(href='/earphone' class="btn btn-secondary") Go To earphone